{% extends 'main/layouts/basic.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="navbar-top">
        <div class="page-name">
            {% if page.icon %}
                <img src="/media/{{ page.icon }}" alt="" class="icon">
            {% else %}
                <div>📄</div>
            {% endif %}
            <div>{{ page.title }}</div>
        </div>
        <div class="page-actions">
            <div class="share">Поделиться</div>
            <div class="page-settings">•••</div>
        </div>
    </div>
    {% csrf_token %}
    <div class="editor">
        <div class="field" contenteditable="true">{{ page_content }}</div>
    </div>
{% endblock %}