<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="manifest" href="{% static 'main/manifest/manifest.webmanifest' %}">
</head>
<body>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/showdown@v2.1.0/dist/showdown.min.js"></script>
    <script src="{% static 'main/js/markdown.js' %}"></script>
    <script src="{% static 'main/js/save_page.js' %}"></script>
    <script src="{% static 'main/js/utilities.js' %}"></script>
</body>
</html>